html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

header {
  background: #131111;
}

.head {
  padding: 13px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.head__logo {
  display: flex;
  align-items: center;
  gap: 40px;
}
.head__logo__lang {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  font-feature-settings: "pnum" on, "lnum" on;
}
.head__logo__lang__ru {
  color: #d8d8d8;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.head__logo__lang__slesh {
  color: #7d7d7d;
  flex: none;
  order: 1;
  flex-grow: 0;
}
.head__logo__lang__en {
  color: #7d7d7d;
  flex: none;
  order: 2;
  flex-grow: 0;
}
.head a {
  text-decoration: none;
  color: #7d7d7d;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-feature-settings: "pnum" on, "lnum" on;
}
.head a:hover {
  color: #bcbcbc;
  font-weight: 600;
}
.head a:focus {
  color: #bcbcbc;
  font-weight: 600;
}
.head__menu {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-feature-settings: "pnum" on, "lnum" on;
}
.head__icon {
  display: flex;
  gap: 24px;
  align-items: center;
}
.head__icon__sign {
  gap: 16px;
  display: flex;
}
.head__icon__sign a {
  display: block;
}

.section {
  max-width: 1218px;
  margin: 0 auto;
}

@font-face {
  font-family: "Raleway";
  src: url(../fonts/Raleway-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "Raleway";
  src: url(../fonts/Raleway-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: "Raleway";
  src: url(../fonts/Raleway-SemiBold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: "Raleway";
  src: url(../fonts/Raleway-Bold.ttf);
  font-weight: 700;
}
.preview {
  background: #131111;
  height: 910px;
}
.preview__logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 28px;
}
.preview__circles {
  display: flex;
}
.preview__circles__orange {
  position: absolute;
  left: 0;
  top: 151px;
  background: radial-gradient(50% 50% at 50% 50%, #f64f00 0%, rgba(246, 79, 0, 0) 100%);
  filter: blur(32px);
}
.preview__circles__blue {
  position: absolute;
  left: 600px;
  top: 90px;
  background: radial-gradient(50% 50% at 50% 50%, #0178f3 0%, rgba(1, 120, 243, 0) 100%);
  filter: blur(32px);
}/*# sourceMappingURL=style.css.map */